{% extends 'default.html' %}
{% block title %}
  Home
{% endblock %}

{% block contents %}
<!--Jumbotron-->
<!--Tip: https://www.w3schools.com/ -->
<div class="container-fluid">
    <div class="jumbotron" style="background-image: url('img/Chroma_2.jpg')">
        <h1 class="display-4">Welcome to Wooo's WebSite</h1>
        <p class="lead">Hello everyone, in this website I'm going to post 2 projects differnet.  This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
{% endblock %}

